
h1{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 175%;
}
*{
	box-sizing: border-box;
}
div { font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: grey;
	width:30%;
	border: 2px solid black;
	float:left;
	padding-left: 10px;
	margin: 10px;
	overflow: auto;

}

#p1{position: relative;
	left:75%;
	border: 2px solid black;
	width:25%;
	background:pink;
	text-align:center;
	overflow: auto;


}
#p2{position: relative;
	left:74.5%;
	border: 2px solid black;
	width:25%;
	background:brown;
	color: white;
	text-align: center;
	overflow: auto;
}
#p3{position: relative;
	left:74.5%;
	border: 2px solid black;
	width:25%;
	background:orange;
	text-align: center;
	overflow: auto;
}
	
