
h1{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 175%;
}
*{
	box-sizing: border-box;
}
div { font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: grey;
	width:30%;
	border: 2px solid black;
	float:left;
	padding-left: 10px;
	margin: 10px;
	
	clear: right;

}


@media(min-width: 768px) and (max-width: 991px)
{#t1{
	width: 47%;
	float:left;
}
#t2{
	width: 47%;
	float: left;
}
#t3{
	width:97%;
	float:left;
	}
}
@media(max-width: 767px)
{#t1
	{width:97%;
	float: left;
}
#t2{width:97%;
	float: left;
}
#t3{width: 97%;
	float: left;
}

}

#p1{position: relative;
	left:75%;
	border: 2px solid black;
	width:25%;
	background:pink;
	text-align:center;


}
#p2{position: relative;
	left:74.5%;
	border: 2px solid black;
	width:25%;
	background:brown;
	color: white;
	text-align: center;
	
}
#p3{position: relative;
	left:74.5%;
	border: 2px solid black;
	width:25%;
	background:orange;
	text-align: center;
	
}
	
